@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Light mode styles */
body {
  background-color: white;
  color: black;
}

/* Dark mode styles */
body.dark {
  background-color: #333;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 84vh;
  display: flex;
  background: url(../../public/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Loading Spinner */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-screen {
  background: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
  color: #fff;
  font-size: 1.5rem;
}

.spinner {
  border: 8px solid #600d10;
  border-top: 8px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.4s linear infinite;
}
