* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 84vh;
  display: flex;
  background: url(../../public/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
